# Datatypes: Numbers(Integers, Float), String

## Integers(int)

In [1]:
x=100
type(x)

int

In [6]:
x=654*6734
type(x)

int

In [7]:
print(x)

4404036

## Float

In [9]:
x=3.14
print(x)

3.14

In [10]:
type(x)

float

# Strings

In [1]:
x="Chelasea Football Club"
print(x)

Chelasea Football Club

In [13]:
type(x)

str

# List: Collection of values

In [14]:
x=[14,67,9]

In [15]:
print(x)

[14, 67, 9]

In [16]:
type(x)

list

### Extracting single values from multiple values in List

In [17]:
#[14,67,9] all have positional index. 
#For instance, 14 has a positional index of 0, 67 has a positional index of 1, and 9 has a positional index of 2. 
# We are going to extract 14 from all the values

In [18]:
print(x[0])

14

In [19]:
# We are going to extract 67 from all the values

In [20]:
print(x[1])

67

In [21]:
# We are going to extract 9 from all the values

In [22]:
print(x[2])

9

In [29]:
#Changing values which is stored within the list with a different number

In [23]:
x[2]=67

In [24]:
print(x)

[14, 67, 67]

In [25]:
x[2]=14

In [26]:
print(x)

[14, 67, 14]

In [27]:
x[0]=9

In [28]:
print(x)

[9, 67, 14]

# Tuples

In [ ]:
#Tuples involves storing multiple values in a single variable
#In tuple, we use round brackets() instead of square brackets[]

In [30]:
x=(4,8,6)

In [31]:
print(x)

(4, 8, 6)

In [32]:
type(x)

tuple

In [33]:
#The main difference between tuple and list is that tuple is immutable. This means you cannot change the values in tuples.
#Trying to chang values in tuples

In [39]:
x[2]=5

TypeError: 'tuple' object does not support item assignment

In [40]:
#The error displayed above indicate that changing values in tuples is impossible

### File Pointers

In [42]:
#When dealing with files, we need a variable which point to a particular file. These are called 'File Pointers'
#Advantage of using file pointers:
#When you need to perform various operations on a file, instead of providing a file pathname everytime, can just assign a variable and use that variable.

In [48]:
x=open('Class_Work_LearnerNotebook.ipynb','r')

In [46]:
type(x)

_io.TextIOWrapper

In [47]:
print(x)

<_io.TextIOWrapper name='Class_Work_LearnerNotebook.ipynb' mode='r' encoding='cp1252'>

In [ ]:
#Instead of having variables like;
x=5
y=10
z=7,
#We can easily write a simple code to accommodate all the varables
(x,y,z)=5,10,7

In [57]:
(x,y,z)=5,10,7

In [58]:
print(x,y,z)

5 10 7

In [59]:
#If you want the results to display vertically,

In [60]:
print(x)
print(y)
print(z)

5
10
7

### Assigning the same number to multiple variables

In [61]:
#For example, if you want to assign the value 1 to variables x,y, and z
ie, x=1
    y=1
    z=1
#We simply write the following code
(x,y,z)=1,1,1

In [64]:
(x,y,z)=1,1,1
print(x,y,z)

1 1 1

In [65]:
#We can make the code even more simplier by writing the following code
x=y=z=1

In [66]:
x=y=z=1

In [67]:
print(x,y,z)

1 1 1

# Rules for Naming Variables

### Rule 1:Variable name must begin with an alphabet or an underscore(_)
### Example, abc, _abc

In [72]:
abc=100

In [73]:
_abc=100

### Rule 2: The first character can be followed by alphabets, numbers or underscore(_)
### Example, a100=100, _a984_=100

In [74]:
a100=100

In [75]:
_a984_=100

In [76]:
# However, Adding a special charater to the variable will not work
#Example a9874$=100

In [77]:
a9874$=100

SyntaxError: invalid syntax (197789960.py, line 1)

In [78]:
#We can see that there is an invalid syntax because the special character($) does not meet the condition for naming variables

### Rule 3: Variable names are case sensitive. 
### Capital letters and small letters are treated differently
### Example, a100 is different from A100

In [80]:
a100=100
A100=200

In [81]:
print(a100,A100)

100 200

### Rule 4: Reserved words cannot be used as a variable names
### Example of reserved words include break, class, and try

In [83]:
break=100

SyntaxError: invalid syntax (1859277663.py, line 1)

In [84]:
#As shown above, break has displayed as invalid syntax because it cannot be used as a variable

In [87]:
class=8

SyntaxError: invalid syntax (1940133025.py, line 1)

In [86]:
#class is shown as invalid syntax because it can be used as a variable in python

In [88]:
try=87

SyntaxError: expected ':' (160854034.py, line 1)

In [90]:
# try is shown as invalid because it cannot be used as a variable in python

# Performing Arithmetic Operations on Variables(Int, Float)

### Addition

In [91]:
x=20
y=10

In [92]:
result=x+y
print(result)

30

### Substraction

In [93]:
x=20
y=10

In [94]:
result=x-y
print(result)

10

### Multiplication

In [95]:
x=20
y=10

In [96]:
result=x*y
print(result)

200

### Division

In [97]:
x=20
y=10

In [98]:
result=x/y
print(result)

2.0

In [99]:
#If you do not want your answer to appear as a float, ie 2.0, use a double slash(//)

In [100]:
x=20
y=10

In [101]:
result=x//y
print(result)

2

In [102]:
#If your division for numbers that does not divide each other completely
#For example, if we have result=2/3

In [103]:
result=2/3

In [104]:
print(result)

0.6666666666666666

In [105]:
#The result is 0.6666666666666. If we do not want the result to show as a float, we use double slash //

In [106]:
result=2//3
print(result)

0

### Finding the Remainder of Arithmetic Operation

In [107]:
#To find the remainder, we use the percentage(%) sign

In [108]:
x=20
y=10

In [109]:
result=x%y
print(result)

0

In [110]:
x=3
y=2

In [111]:
result=x%y
print(result)

1

### Performing Arithmetic Operation on Floating point numbers

In [112]:
x=3.14
y=5.7

In [113]:
result=x/y
print(result)

0.5508771929824562

In [114]:
x=3.14
y=5.7

In [115]:
result=x+y
print(result)

8.84

In [116]:
x=3.14
y=5.7

In [117]:
result=x*y
print(result)

17.898

In [118]:
x=3.14
y=5.7

In [120]:
result=y-x
print(result)

2.56

# Performing Arithmetic Operations on  String Variables

### Extracting single variable character from a String

In [121]:
#Var="Simplilearn"
#In case we want find the positional index of each of the letters
#ie S=0, i=1, m=2, p=3, l=4, i=5, l=6, e=7, a=8, r=9, n-10
#To print letter S

In [122]:
var="Simplilearn"
print(var[0])

S

In [123]:
#Print letter p

In [124]:
var="Simplilearn"
print(var[3])

p

In [125]:
#Print letter r

In [126]:
var="Simplilearn"
print(var[9])

r

### Extracting multiple variable character from a String

In [127]:
var="Simplilearn"

In [128]:
# Extracting the first 3 characters

In [129]:
print(var[0:3])

Sim

In [130]:
# Extracting the first 5 characters

In [132]:
print(var[0:6])

Simpli

In [133]:
#We can also print the first varaible without entering 0 for [0:6] ie [:6]

In [134]:
print(var[:6])

Simpli

In [135]:
#Printing from the 6th character to the end

In [136]:
print(var[6:])

learn

In [137]:
#OR without including the end

In [138]:
print(var[6:10])

lear

In [139]:
#Assuming we want to print all characters

In [140]:
print(var[0:])

Simplilearn

In [4]:
var="Chelsea Football Club"

In [5]:
#Extracting character from a string

In [7]:
print(var[0])

C

In [9]:
#Print variable F

In [10]:
print(var[8])

F

In [ ]:
#Print variable u

In [11]:
print(var[19])

u

In [13]:
#Extracting multiple variables from strings

In [14]:
#Print Chelsea

In [15]:
print(var[0:7])

Chelsea

In [16]:
#Print Football

In [18]:
print(var[8:16])

Football

In [19]:
#Print Club

In [23]:
print(var[17:21])

Club

In [24]:
#Print Chelsea Fottball Club

In [25]:
print(var[0:])

Chelsea Football Club

### Finding the Length of the String

In [28]:
#Find the length of Chelsea Football Club

In [26]:
var="Chelsea Football Club"

In [27]:
len(var)

21

In [29]:
#Find the length of Simplilearn

In [143]:
var="Simlpilearn"

In [144]:
len(var)

11