# Numbers in Python

### Integers(int)

In [1]:
num=5

In [2]:
type(num)

int

In [3]:
num=23575406471

In [4]:
type(num)

int

###  Float

In [5]:
num=5.4

In [6]:
type(num)

float

### Complex Numbers

In [7]:
#Complex numbers has two parts. They incude;
#Real complex numbers 
#Imaginary complex numbers
#Complex numbers are stored in floating points

In [8]:
num=2+5j

In [9]:
type(num)

complex

In [10]:
#Real Complex numbers

In [11]:
num.real

2.0

In [12]:
#Imaginary complex numbers

In [13]:
num.imag

5.0

### Numbers can also be negative

In [14]:
num=5647.675

In [15]:
print(num)

5647.675

In [16]:
num

5647.675

In [17]:
type(num)

float

## Performing Arithmetic Operations on Python Numbers

### Addition

In [18]:
num1=10
num2=2

In [19]:
print(num1+num2)

12

### Subtraction

In [20]:
num1=10
num2=2

In [21]:
print(num1-num2)

8

### Multiplication

In [22]:
num1=10
num2=2

In [23]:
print(num1*num2)

20

### Division

In [24]:
num1=10
num2=2

In [25]:
print(num1/num2)

5.0

In [26]:
#In case you do not want the results to be in a floating point, use two slash(//) signs

In [27]:
num1=10
num2=2

In [28]:
print(num1//num2)

5

In [29]:
num1=10
num2=3

In [30]:
print(num1/num2)

3.3333333333333335

In [31]:
#Elinating the floating point

In [32]:
num1=10
num2=3

In [33]:
print(num1//num2)

3

### Raising number to the power of another number in python

In [34]:
#Example, 10 raised to the power 2 is written as 10**2 in python

In [35]:
num1=10
num2=2

In [36]:
print(num1**num2)

100

### Finding the Remainder of a Number

In [37]:
num1=10
num2=2

In [38]:
print(num1%num2)

0

In [39]:
num1=33
num2=15

In [40]:
print(num1%num2)

3

In [41]:
num1=10
num2=3

In [42]:
print(num1%num2)

1

## Python Conversions in Numbers

### Converting String numbers to integers
#### For Example, convert "192" to an integer

In [43]:
x="192"

In [44]:
type(x)

str

In [45]:
#"192" is a string number because of the double quotation marks around it
#To convert it to an integer, we apply int to the x value

In [46]:
int(x)

192

In [47]:
type(int(x))

int

### Converting the int number to a float number

In [48]:
float(int(x))

192.0

In [49]:
x=float(x)

In [50]:
print(x)

192.0

### Converting integers and float to complex numbers

In [51]:
x=192.0

In [52]:
x=complex(x)
print(x)

(192+0j)

In [3]:
#OR

X=100

In [4]:
x=100

complex(int(x))

(100+0j)

In [7]:
#Converting float number to complex
x=100.00

In [8]:
complex(float(x))

(100+0j)

In [54]:
x=complex(x)
print(x)

(100+0j)

In [55]:
#Functions to create complex numbers
#Within the complex number, we create real and imaginary numbers
#Example, complex(2,6), where 2 is a real number and 6 is an imaginary number

In [56]:
print(complex(2, 6))

(2+6j)

## In-built Functions that work with Numbers

### 1. Absolute(abs) Function: Returns absolute value of a number

In [57]:
#When real number is positive or negative, the return value is always positive
#For Example, x=-7.5, will return a  positive number when the abs() function is applied.

In [58]:
x=-7.5
print(abs(x))

7.5

In [59]:
y=-5934
print(abs(y))

5934

### 2.Exponent(e) Function: This takes a single parameter and returns that parameter as the power of e

In [60]:
# e raised to the power of the parameter you pass to exponent
# ie, e10(e raised to the power 10)
# We import the math library
#Find the value of e raised to the power 10

In [61]:
import math
x=10
print(math.exp(x))

22026.465794806718

In [9]:
import math
x=257.4
print(math.exp(x))

6.129141417012625e+111

In [62]:
#The value of e
# math.e
#This has a constant value of 2.71

In [63]:
math.e

2.718281828459045

In [64]:
#The value of pi
# math.pi
#This has a constant value of 3.14

In [65]:
math.pi

3.141592653589793

### 3. Square Root(sqrt) Function: When you pass a value to a function, it returns the square root(sqrt) of that value

In [66]:
# Print the square root of 9

In [67]:
print(math.sqrt(9))

3.0

In [68]:
# Print the square root of 289

In [69]:
print(math.sqrt(289))

17.0

In [10]:
#print the square root of 27
x=27

print(math.sqrt(x))

5.196152422706632

### 4. Max() Function: This returns the maximum value of all numbers displayed

In [70]:
#Print the maximum value of these numbers (1,34,489)

In [71]:
max(1,34,489)

489

In [72]:
#Print the maximum value of these numbers (100,350,489,1100)

In [73]:
max(100,350,489,1100)

1100

### 5. Min() Function: This returns the minimum value of all numbers displayed

In [74]:
# Print the minimum number of these values(1,34,4986,3254,687)

In [75]:
min(1,34,4986,3254,687)

1

In [76]:
# Print the minimum number of these values(1234,3443,4986,3254,8687)

In [77]:
min(1234,3443,4986,3254,8687)

1234

## What are Lists?

### A List is a collection of data. It can hold values of multiple data types
### Example list x can contain, 1,89,A,Hey,0, B 
### X=[1,89,A,Hey,0,B]

In [78]:
#All Lists have positional indexes, the positional index of 1 ia 0, 89 is 1, A is 2, Hey is 3, 0 is 4 and B is 5

#### Creating Lists of Integers

In [79]:
num=[1,2,3,4]
print(num)

[1, 2, 3, 4]

#### Creating lists for single characters

In [80]:
letter=["a","b","c","d"]

In [81]:
print(letter)

['a', 'b', 'c', 'd']

#### Creating a list for strings

In [82]:
stg=["get","your","Chelsea","jersey", "now"]

In [83]:
print(stg)

['get', 'your', 'Chelsea', 'jersey', 'now']

#### Creating a list containing a combination of different datatypes

In [84]:
mix=[1,6,"get","your","chelsea","jersey","now"]

In [85]:
print(mix)

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

#### Creating a list containing two or more lists(matrices)

In [86]:
mat=[[1,2],["a","b"]]

In [87]:
print(mat)

[[1, 2], ['a', 'b']]

In [88]:
mat=[[1,2],["a","b"],["chelsea","football","club"]]

In [89]:
print(mat)

[[1, 2], ['a', 'b'], ['chelsea', 'football', 'club']]

## Accessing Elements in Lists

In [90]:
#In accessing elements in lists, we use positional index of the element
#Extract "chelsea" from the lists

In [91]:
print(mix)

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [92]:
mix[4]

'chelsea'

In [93]:
#Extract "jersey" from the list

In [94]:
mix[5]

'jersey'

#### Similarly, we can use negative(-) indices to access the elements in the list

In [95]:
#The negative sign allow us to count the elements from backwards
#Extract "jersey" from the list using the negativ(-) sign

In [96]:
mix[-2]

'jersey'

In [97]:
#In this case, we have been able to access "jersey" by counting from backwards from "now", which is -2

In [98]:
#NOTE: If we count list from the beginning (front), it starts with 0,
#However, if we count a list from backwards, it starts with -1

### Accessing a Range of Elements

In [99]:
print(mix)

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [100]:
#Extract the first four elements from mix

In [101]:
mix[0:4]

[1, 6, 'get', 'your']

In [102]:
#Extract the first two elements from mix

In [103]:
mix[:2]

[1, 6]

In [104]:
#Extract the all elements from mix

In [105]:
mix[:7]

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [106]:
#Extract all elements from the starting position of the list "your"

mix[3:]

['your', 'chelsea', 'jersey', 'now']

In [107]:
#Extract all elements from the starting position of the list "get" and end at "jersey"

mix[2:6]

['get', 'your', 'chelsea', 'jersey']

In [108]:
#OR you can count it from backwards

mix[2:-1]

['get', 'your', 'chelsea', 'jersey']

In [109]:
#Extract "chelsea" and "jersey"

mix[4:-1]

['chelsea', 'jersey']

In [110]:
mix[4:6]

['chelsea', 'jersey']

### Extracting every second element of list

In [111]:
print(mix)

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [112]:
#Extract every second element of the list

In [113]:
mix[::2]

[1, 'get', 'chelsea', 'now']

In [114]:
#Extract every first element of the list

mix[::1]

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [115]:
#Extract every third element of the list

mix[::3]

[1, 'your', 'now']

### Printing lists in reverse order

In [116]:
print(mix)

[1, 6, 'get', 'your', 'chelsea', 'jersey', 'now']

In [117]:
#Print a reverse version of mix

mix[::-1]

['now', 'jersey', 'chelsea', 'your', 'get', 6, 1]

## Operations on Lists

### Multiplication

In [118]:
#Create a list of 100 zeros

z=[0]*100
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [119]:
#Create a list of 100 zeros,200 ones, and 300 fives

k=[[0]*100,[1]*200,[5]*300]
print(k)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]]

### Concatenating(Addition)

In [120]:
#Create a list to concatenate the two list that we previously created (ie letter, and stg(string))

print(letter)

['a', 'b', 'c', 'd']

In [121]:
print(stg)

['get', 'your', 'Chelsea', 'jersey', 'now']

In [122]:
#Concatenate letter and stg

conc=letter+stg
print(conc)

['a', 'b', 'c', 'd', 'get', 'your', 'Chelsea', 'jersey', 'now']

### Giving a string as in an argument to this function list and make each element of the string as saparate element in a list

In [123]:
# Every letter string in the list becomes a single element in the list var

var=list("hey there")
print(var)

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

### Picking one or more elements in a list and storing them in different variable

In [124]:
#Using the list num previously created

print(num)

[1, 2, 3, 4]

In [125]:
#We want the first element[1] of list num to be in a variable "one" and 
#want the rest of the elements [2,3,4] to be stored in another list called "other"

one,*other=num
print(one)
print(other)

1
[2, 3, 4]

In [126]:
#In this case, element [1] has been stored as one, and elements[2,3,4] has been stored as other

## Methods in Lists

### Append():  Assigning or adding an element to a list

In [127]:
#Append 6 to the num list

num.append(6)
print(num)

[1, 2, 3, 4, 6]

### Extend(): Adding multiple elements to a list

In [128]:
print(num)

[1, 2, 3, 4, 6]

In [129]:
#Add stg(string) to the num list
num.extend(stg)

In [130]:
print(stg)

['get', 'your', 'Chelsea', 'jersey', 'now']

In [131]:
print(num)

[1, 2, 3, 4, 6, 'get', 'your', 'Chelsea', 'jersey', 'now']

### Insert(): Inserting elements in between the list

In [132]:
#Insert "Cole Palmer" in between the codes

num.insert(7, "Cole Palmer")

print(num)

[1, 2, 3, 4, 6, 'get', 'your', 'Cole Palmer', 'Chelsea', 'jersey', 'now']

### Remove(): This removes an element from a list

In [134]:
#Remove Chelsea from the list

num.remove("Chelsea")

print(num)

[1, 2, 3, 4, 6, 'get', 'your', 'Cole Palmer', 'jersey', 'now']

### Sort(): Sorting elements in such a way that it is arranged in order

In [140]:
#Lets create a variable called char1
#var1=['b','f','a','q','r']

var1=['b','f','a','q','r']

print(var1)

['b', 'f', 'a', 'q', 'r']

In [141]:
#Sort Var1

var1.sort()

print(var1)

['a', 'b', 'f', 'q', 'r']

## Build-in Functions with lists

In [142]:
#Lets create a new list

x=[9,17,14,4,90,55]

### len():Finding the length of your list

In [143]:
#Find the len() of x=[9,17,14,4,90,55]

len(x)

6

### min(): Finding the minimum number of all elements in the list

In [144]:
#Find the minimum number of all elements

min(x)

4

### max(): Finding the maximum number of all elements in the list

In [145]:
#Find the maximum number of all elements

max(x)

90

### sum(): Finding the sum of all elements present in a list

In [146]:
#Find the sum of all elements in the list

sum(x)

189

### Finding the average number of elements in a list

In [147]:
average=sum(x)/len(x)

In [148]:
print(average)

31.5