# Tuples

### Tuple is a collection of immutable heterogeneous python objects (ie, elements in tuples cannot be changed)

### x=1,89,A,Hey,0,B
#1 has a positional index of 0, 89 is 1, A is 2, Hey is 3, 0 is 4, B is 5

#Tuples uses round brackets and not square brackets

## Creating tuples

In [1]:
#Create an empty tuple()

emp=()

type(emp)

tuple

In [2]:
print(type(emp))

<class 'tuple'>

In [3]:
print(emp)

()

### Creating elements in tuples

In [4]:
city="London",

type(city)

tuple

In [5]:
print(city)

('London',)

In [6]:
city="London"
city

'London'

In [7]:
print(city)

London

### Adding more elements to city

In [2]:
city=("London","Manchester","Leeds","Birmingham")

city

('London', 'Manchester', 'Leeds', 'Birmingham')

In [3]:
#OR

print(city)

('London', 'Manchester', 'Leeds', 'Birmingham')

### Differences between Lists and Tuples
#### 1. Lists are mutable(values can be changed), but Tuples are immutable(values cannot be changed)
#### 2. Lists uses square brackets[], whiles Tuples uses round brackets()

In [4]:
#Appending or adding an element to a list example

list1=[1,2,3,4]

print(list1)

[1, 2, 3, 4]

In [5]:
#Append or Add 5 to list1

list1.append(5)

print(list1)

[1, 2, 3, 4, 5]

In [12]:
#5 has been successfully added to list becuase it is mutable

In [6]:
#Appending or adding an element to a tuple example

tuple1=(1,2,3,4)

print(tuple1)

(1, 2, 3, 4)

In [14]:
#Append or Add 5 to tuple

tuple1.append(5)

print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Appending 5 to the tuple has shown an AttributeError because tuples are immutable(its values cannot be altered)

## Accessing Elements in Tuples

In [7]:
print(city)

('London', 'Manchester', 'Leeds', 'Birmingham')

In [8]:
#Print Manchester

city[1]

'Manchester'

In [9]:
#Print Leeds

city[2]

'Leeds'

In [10]:
#Extract the element at the back of the tuple(ie Birmingham)

city[-1]

'Birmingham'

## Concatenation of Tuples

In [11]:
print(city)

('London', 'Manchester', 'Leeds', 'Birmingham')

In [12]:
num=1,2,3,4

print(num)

(1, 2, 3, 4)

In [13]:
conc=city+num
print(conc)

('London', 'Manchester', 'Leeds', 'Birmingham', 1, 2, 3, 4)

## Having a tuple within another tuple

### Nesting

In [14]:
#Nest city into num

In [15]:
print(city)

('London', 'Manchester', 'Leeds', 'Birmingham')

In [16]:
print(num)

(1, 2, 3, 4)

In [17]:
nest=(city,num)

print(nest)

(('London', 'Manchester', 'Leeds', 'Birmingham'), (1, 2, 3, 4))

### Repetition

In [18]:
#Repeat the football club name "Chelsea" for 5 times in a tuple

club=("Chelsea",)*5

print(club)

('Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea')

In [19]:
# Lets say after printing "Chelsea" 5 times in club and now want to print "Chelsea" 10 times
club=("Chelsea",)

print(club*10)

('Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea')

In [20]:
#OR

club=("Chelsea",)*10

print(club)

('Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea', 'Chelsea')

### Slicing

In [21]:
print(num)

(1, 2, 3, 4)

In [22]:
#Print all elements from 2 to the end of the tuple

num[1:]

(2, 3, 4)

In [23]:
#OR

num[1:4]

(2, 3, 4)

In [24]:
#Print all elements in Reverse

num[::-1]

(4, 3, 2, 1)

### Unpacking

In [25]:
#"Chelsea"
# Print every letter of the string "Chelsea" to be an element of a tuple

tuple("chelsea")

('c', 'h', 'e', 'l', 's', 'e', 'a')

### Putting Tuples  into various variables

In [26]:
print(num)

#Put (1,2,3,4) tuple into varaibles a,b,c,d

(1, 2, 3, 4)

In [27]:
#Put (1,2,3,4) tuple into varaibles a,b,c,d

a,b,c,d=num

print(a,b,c,d)

1 2 3 4

In [28]:
#In case you do not have any clue of how many elements are there in num (1,2,3,4)

#Assign the first element(1) to the first varaible(a), and assign the 4th element(4) to the third variable(c)

a,*b,c=num

print(a,b,c)

1 [2, 3] 4

In [29]:
#In this case, element 1 is assigned to variable a, element 4 is assigned to variable c, 
# and element 2, and 3 are assigned to varaible b

### Deleting a Tuple

In [30]:
tuple1=(1,2,3,4)

print(tuple1)

(1, 2, 3, 4)

In [31]:
#Delete tuple1

del tuple1

print(tuple1)

NameError: name 'tuple1' is not defined

In [ ]:
#An error has been generated because tuple1 has been deleted and you cannot print it again

## Build-in Functions in Tuples

In [32]:
num1=(3,5,2,2,2,2,6,5,8)

print(num1)

(3, 5, 2, 2, 2, 2, 6, 5, 8)

###  Count()

In [33]:
#Count the total number of 2s in num1

num1.count(2)

4

In [34]:
#Count the total number of 5s in num1

num1.count(5)

2

### Sum()

In [35]:
#Finding the total number of all elements in tuple

print(num1)

(3, 5, 2, 2, 2, 2, 6, 5, 8)

In [36]:
#Find the sum total of all elements in tuple

sum(num1)

35

### len()

In [37]:
# Finding the number of elements in tuple

print(num1)

(3, 5, 2, 2, 2, 2, 6, 5, 8)

In [38]:
#Find the number of elements in tuple

len(num1)

9

### max()

In [39]:
# Finding the maximum(biggest) number in tuples

print(num1)

(3, 5, 2, 2, 2, 2, 6, 5, 8)

In [40]:
 #Find the maximum(biggest) number in tuples(num1)

max(num1)

8

### min()

In [41]:
# Finding the minimum(smallest) number in tuples

print(num1)

(3, 5, 2, 2, 2, 2, 6, 5, 8)

In [42]:
#Finding the minimum(smallest) number in num1

min(num1)

2

## Converting list to tuple

### Note: We can convert list to tuple but we cannot convert tuple to lisr

In [43]:
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [44]:
print(type(list))

<class 'list'>

In [45]:
# Convert list=[1,2,3,4] into a tuple

tpl=tuple(list)
           
print(tpl)

(1, 2, 3, 4)

In [46]:
type(tpl)

tuple

### Nesting tuples in a list

In [47]:
#We can put tuple in a list

list=[(1,2,3),(4,5,6)]

print(list)

[(1, 2, 3), (4, 5, 6)]

#### Even though tuples are immutable(cannot be changed), it can be changed when nested in a list

In [48]:
# For example,lets add "Tuple", "Inside", "List" to the tuple nested inside a list

print(list)

[(1, 2, 3), (4, 5, 6)]

### Append(): Adding elements to tuples nested in a list

In [49]:
#add "Tuple", "Inside", "List" to the tuple nested inside a list

list.append(("Tuple", "Inside", "List"))

print(list)

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'List')]

### Remove(): Removing elements from list

In [50]:
#Remove (1,2,3) from the tuples nested in the list

list.remove((1,2,3))

print(list)

[(4, 5, 6), ('Tuple', 'Inside', 'List')]

## Nesting lists in tuples
### We cannot add elements into tuples, but we can modify the list within the tuple
### We can add elements to the first element(with positional index 0) and the second element( with positional index 1) of the tuple

In [51]:
tpl=(['a','b','c'],['d','e','f'])

#['a','b','c'] has a positional index of 0(First Element)

#['d','e','f'] has a positional index of 1(Second Element)

In [52]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [53]:
#Add 'z' to the first element

tpl[0].append('z')

print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [54]:
#Add 'g' to the second element

tpl[1].append('g')

print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f', 'g'])

In [55]:
#Remove 'z' from the first element in list nested in tuple

tpl[0].remove('z')

print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f', 'g'])

In [56]:
#Remove 'g' from the second element in list nested in tuple

tpl[1].remove('g')

print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [31]:
#Lets try to add elements to the entire tuple to see if it works

#Add (['x','y','z']) to the entire tuple

tpl.append(['x','y','z'])

print(tpl)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
#The results has displayed an AttributeError, which means that we cannot change or add elements to the entire tuple