# Strings in Python

### A String is a datatype in python, composed of a collection of characters.
### For Example, "Chelsea", "2024/2025 Season"
### Characters include numbers, letters, and special characters
### Stg="Chelsea" OR
### stg='Chelsea'

## Creating a String

In [1]:
stg="chelsea"

print(stg)

chelsea

In [2]:
stg='Cole Palmer's Jersey'

print(stg)

SyntaxError: unterminated string literal (detected at line 1) (383747944.py, line 1)

In [3]:
#SyntaxError is generated because a single quote('') cannot work with an apostrophe(Palmer's)

In [4]:
# To correct this error, we must use a double quote("") instead of a single quote due to the apostrophe(Palmer's)

stg="Cole Palmer's Jersey"

print(stg)

Cole Palmer's Jersey

## When a String has both single quote('') and double quotes("")

In [5]:
stg='Cole Palmer said, "I'm playing football today"'

print(stg)

SyntaxError: unterminated string literal (detected at line 1) (2229522955.py, line 1)

In [6]:
#SyntaxError is generated because we cannot print both single quote('') and double quotes("")
# at the same time, unless we do something about it

In [7]:
# In this case, we can simply escape the single quote(I'm) and insert a backward slash(\) in between I and 'm.

# It will now be 'Cole Palmer said, "I\'m playing football today"'


stg='Cole Palmer said, "I\'m playing football today"'

print(stg)

Cole Palmer said, "I'm playing football today"

## Printing Strings in Multiple Lines

In [8]:
stg='hey Dewsbury Hall!
Welcome to Chelsea'

print(stg)

SyntaxError: unterminated string literal (detected at line 1) (3661558435.py, line 1)

In [9]:
#SyntaxError is generated becuase, the single quote at the beginning of 'hey cannot affect the next line Welcome to Chelsea

In [10]:
#How do we correct this error?

#We can correct this error by adding 3 double quotes(""" """) at the beginning of the first line and at the end of the last line

stg="""hey Dewbury Hall!
Welcome to Chelsea"""

print(stg)

hey Dewbury Hall!
Welcome to Chelsea

## Built-in Functions in Strings

### len()

In [11]:
stg="Chelsea"

print(stg)

Chelsea

In [12]:
#Find the length of stg

len(stg)

7

In [13]:
stg="Chelsea Football Club"

print(stg)

Chelsea Football Club

In [14]:
#Find the len of stg

len(stg)

21

In [20]:
#Why is the length of stg 21?
#The length of stg is 21 because python counts spacees as characters. 
#The length was supposed to be 19, but python counted the 2 spaces as part of the varaible Chelsea Football Club, making it 21

## Extracting each character of a string

In [16]:
#Extract the 5th character of stg

print(stg)

Chelsea Football Club

In [17]:
stg[5]

'e'

In [18]:
#Extract the 8th character of stg

print(stg)

Chelsea Football Club

In [19]:
stg[8]

'F'

## Accessing every character of string one by one

In [21]:
#We can do this by using  for loop

#### What is for loop?

#### for loop is used to repeat a set of instructions for each item in a list

#### for loop is used to automate repetitive tasks

In [30]:
stg="Chelsea Football Club"
for i in stg:
    print(i)

C
h
e
l
s
e
a

F
o
o
t
b
a
l
l

C
l
u
b

In [35]:
# If we want characters to be printed on the same line

stg="Chelsea Football Club"
for i in stg:
    print(i,end="")

Chelsea Football Club

## Slicing: It involves extracting a part of the string

In [36]:
#Extract the first 5 characters of stg

print(stg)

Chelsea Football Club

In [37]:
stg[:5]

'Chels'

In [38]:
#Extract all the characters from the 5th index to the end of the stg

print(stg)

Chelsea Football Club

In [40]:
stg[5:]

'ea Football Club'

In [41]:
#OR

stg[5:21]

'ea Football Club'

In [42]:
# Extrating some elements in between the stg

#Print stg of all characters from 2nd index to 4th index

print(stg)

Chelsea Football Club

In [43]:
stg[2:5]

'els'

## Commonly used in-built methods in String

### Uppercase()

In [46]:
#Print the entire stg in uppercase()

stg="Welcome to Chelsea Football Club"

print(stg)

Welcome to Chelsea Football Club

In [47]:
stg.upper()

'WELCOME TO CHELSEA FOOTBALL CLUB'

In [48]:
#Print the entire stg in lowercase()

print(stg)

Welcome to Chelsea Football Club

In [49]:
stg.lower()

'welcome to chelsea football club'

### find()

In [50]:
#Finding out the index of a character in stg

#Find the index of capital C in Welcome to Chelsea Football Club

print(stg)

Welcome to Chelsea Football Club

In [52]:
stg.find('C')

11

In [53]:
#OR

stg.index('C')

11

### Split():Converts string to a list

In [54]:
# Use the split funtion to convert stg to a list

print(stg)

Welcome to Chelsea Football Club

In [58]:
stg.split()

['Welcome', 'to', 'Chelsea', 'Football', 'Club']

In [61]:
# Use the return value of split method in a variable

x=stg.split()

print(x)

['Welcome', 'to', 'Chelsea', 'Football', 'Club']

### Replace()

In [62]:
#Replace chelsea Football Club with "the English Premier League"

print(stg)

Welcome to Chelsea Football Club

In [63]:
stg.replace("Chelsea Football Club", "the English Premier League")

'Welcome to the English Premier League'

### rpartitiion(): This creates tuples

In [65]:
#Create a partition of "to" which is between "Welcome" and "Chelsea" "Football" "Club"

print(stg)

Welcome to Chelsea Football Club

In [66]:
stg.rpartition("to")

('Welcome ', 'to', ' Chelsea Football Club')

In [67]:
# A tuple has been created using rpartition

### Concatenate(): Adding a string to another string

In [75]:
#Print Good Coach

Enzo="Good"

Maresca="Coach"

conc=Enzo+ " "+Maresca

print(conc)

Good Coach

In [88]:
#Print Enzo Maresca is a good coach
Todd="Enzo Maresca is a"

Boehly="good coach"

conc=Todd+ " "+Boehly

print(conc)

Enzo Maresca is a good coach

In [87]:
# In case we have 3 different strings to concatenate

Maresca1="We will"

Maresca2="start training"

Maresca3="tommorrow"

stg="{} {} {}!".format(Maresca1,Maresca2,Maresca3)

print(stg)

We will start training tommorrow!

In [86]:
#NOTE: The curly brackets{} are known as place holders.
# These place holders({},{},{}) will exactly hold the respective strings(ie Maresca1, Maresca2, Maresca3)

In [90]:
#OR Use this method

Maresca1="We will"

Maresca2="start training"

Maresca3="tommorrow!"

conc=Maresca1+" "+Maresca2+" "+Maresca3

print(conc)

We will start training tommorrow!